html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.imageThumbnail {
    height: 250px;
    max-width: 450px;
}
.cardCapitalStyle{
    background-color: dodgerblue;
}
.cardPopulationStyle {
    border-radius: 0 0 45px 0;
    background-color: aqua;
}
.cardBoxShadow {
    -webkit-box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
}

.cardHeaderStyle {
    background: rgba(0,96,120,1);
    background: -moz-linear-gradient(left, rgba(0,96,120,1) 0%, rgba(165,182,194,1) 50%, rgba(176,185,212,1) 51%, rgba(40,67,247,1) 71%, rgba(0,51,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,96,120,1)), color-stop(50%, rgba(165,182,194,1)), color-stop(51%, rgba(176,185,212,1)), color-stop(71%, rgba(40,67,247,1)), color-stop(100%, rgba(0,51,255,1)));
    background: -webkit-linear-gradient(left, rgba(0,96,120,1) 0%, rgba(165,182,194,1) 50%, rgba(176,185,212,1) 51%, rgba(40,67,247,1) 71%, rgba(0,51,255,1) 100%);
    background: -o-linear-gradient(left, rgba(0,96,120,1) 0%, rgba(165,182,194,1) 50%, rgba(176,185,212,1) 51%, rgba(40,67,247,1) 71%, rgba(0,51,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,96,120,1) 0%, rgba(165,182,194,1) 50%, rgba(176,185,212,1) 51%, rgba(40,67,247,1) 71%, rgba(0,51,255,1) 100%);
    background: linear-gradient(to right, rgba(0,96,120,1) 0%, rgba(165,182,194,1) 50%, rgba(176,185,212,1) 51%, rgba(40,67,247,1) 71%, rgba(0,51,255,1) 100%);
    border-radius: 45px 0 0 0 !important;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.card {
    border-radius: 45px 0 45px 0;
}
